<%= form_with(model: requirement, local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_area :condition, id: :requirement_condition %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :requirement_description %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark, id: :requirement_remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
