<p id="notice"><%= notice %></p>

<h1>Requirements</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Condition</th>
      <th>Description</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.id %></td>
        <td><%= simple_format requirement.condition %></td>
        <td><%= simple_format requirement.description %></td>
        <td><%= simple_format requirement.remark %></td>
        <td><%= link_to 'Show', requirement %></td>
        <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
        <td><%= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requirement', new_requirement_path %>
