%p#notice= notice
%h1 Requirements
%table.table
  %thead
    %tr
      %th ID
      %th Condition
      %th Description
      %th Remark
      %th{:colspan => "4"}
  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.id
        %td= decorate requirement.condition
        %td= decorate requirement.description
        %td= decorate requirement.remark
        %td= link_to 'Show', requirement
        %td= link_to 'Edit', edit_requirement_path(requirement)
        %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to "Proposals(#{requirement.proposals.size})", [requirement, :proposals]
%br/
= link_to 'New Requirement', new_requirement_path
