%p#notice= notice
%h1 Requirements
%table.table
  %thead
    %tr
      %th ID
      %th Status
      %th Condition
      %th Description
      %th Remark
      %th{:colspan => "4"}
  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.id
        %td
          - if requirement.status == :fixed
            %span.btn.btn-default= decorate requirement.status.text
          - else
            %span.btn.btn-danger= decorate requirement.status.text
        %td= decorate requirement.condition
        %td= decorate requirement.description
        %td= decorate requirement.remark
        %td
          = link_to requirement, class: %i[btn btn-default] do
            %i.glyphicon.glyphicon-zoom-in
        %td
          = link_to edit_requirement_path(requirement), class: %i[btn btn-default] do
            %i.glyphicon.glyphicon-edit
        %td
          = link_to requirement, method: :delete, data: { confirm: 'Are you sure?' }, class: %i[btn btn-danger] do
            %i.glyphicon.glyphicon-remove
        %td
          = link_to [requirement, :proposals] do
            - if requirement.proposals.size == 0
              %button.btn.btn-primary
                Proposals
                .badge= requirement.proposals.size
            - else
              %button.btn.btn-secondary
                Proposals
                .badge= requirement.proposals.size
%br/
= link_to 'New Requirement', new_requirement_path
