= form_with(model: domain_model, local: true) do |form|
  - if domain_model.errors.any?
    #error_explanation
      %h2
        = pluralize(domain_model.errors.count, "error")
        prohibited this domain_model from being saved:
      %ul
        - domain_model.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :domain_model_name
  .field
    = form.label :desc
    = form.text_area :desc, id: :domain_model_desc
  .actions
    = form.submit
