%h1= link_to 'Requirement', @requirement

= render @requirement

%h1 Listing proposals

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th Remark
      %th
      %th
      %th

  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.title
        %td= decorate proposal.description
        %td= decorate proposal.remark
        %td
          = link_to [@requirement, proposal], class: %i[btn btn-default] do
            %i.glyphicon.glyphicon-zoom-in
        %td
          = link_to [:edit, @requirement, proposal], class: %i[btn btn-default] do
            %i.glyphicon.glyphicon-edit
        %td
          = link_to [@requirement, proposal], method: :delete, data: { confirm: 'Are you sure?' }, class: %i[btn btn-danger] do
            %i.glyphicon.glyphicon-remove

%br

= link_to 'New Proposal', [:new, @requirement, :proposal]
